{% extends 'template.html.twig' %}

{% block title %}Template listing | MODAFA{% endblock %}

{% block logo %}<link rel="icon" href="/assets/images/php.png">{% endblock %}

{% block stylesheets %}
    <link href="/assets/css/styles.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/scripts.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
{% endblock %}

{% block pageTitle %}{% endblock %}

{% block body %}

    <h1>Template(s) listing</h1>
    {% include "partials/_flash.html.twig" %}
    <a class="mt-2 btn btn-success text-left" href="{{ path('app_template_new') }}"><span class="fas fa-plus">&nbsp;</span> Create a new</a>

    {% if templates | length > 0 %}
        <div class="table-responsive mt-4">
            <table class="table table-striped table-responsive text-center">
                <thead>
                    <tr class="table-active h5 text-center">
                        <th><a href="" class="text-decoration-none">Wording</a></th>
                        <th><a href="" class="text-decoration-none">Created at</a></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for template in templates %}
                    <tr>
                        <td>{{ template.wording }}</td>
                        <td>{{ template.createdAt ? template.createdAt|date('Y-m-d H:i:s') : '' }}</td>

                        <td>
                            <a href="{{ path('app_template_show', {'id': template.id, 'slug': template.slug }) }}" class="btn btn-info text-light"><span class="fas fa-eye">&nbsp;</span> Show</a>
                            <a href="{{ path('app_template_edit', {'id': template.id, 'slug': template.slug }) }}" class="btn btn-success text-light"><span class="fas fa-edit">&nbsp;</span> Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation mt-4 ml-2 shadow-none p-4 mb-4 bg-light d-flex justify-content-center">
            {{ knp_pagination_render(templates) }}
        </div>

    {% else %}
        <div class="alert alert-danger mt-4">
            No records found
        </div>      
    {% endif %}
   
{% endblock %}
