{% extends 'base.html.twig' %}

{% block title %}Reset password | MODAFA{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/starter-template.css">
{% endblock %}
{% block logo %}<link rel="icon" href="/assets/images/php.png">{% endblock %}

{% block header %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item fw-bolder">
            <a class="nav-link active" aria-current="page" href="{{ path('app_main') }}">Home</a>
        </li>
    </ul>
{% endblock %}


{% block body %}
    <div class="container mt-4" >
        <div class="starter-template">
            
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <h1 class="text-center">Reset password</h1>

                    {% include "partials/_flash.html.twig" %}
                    <div class="col-md-4 col-lg-6 col-xl-5">
                        <img src="/assets/images/reset-password-concept-illustration_114360-7886.jpg" class="img-fluid" alt="Reset password image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 shadow">
                        {{ form_start(resetPasswordRequestForm) }}
                            
                            <div class="container mt-4">
                                <p class="text-center text-black-50">When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
                            </div>
                           
                            <div class="row align-items-center pt-4" >
                                <div class="col-md-5 ps-5">
                                    <h6 class="mb-0">{{ form_label(resetPasswordRequestForm.email) }}</h6>
                                </div>
                                <div class="col-md-7 pe-5">
                                    {{ form_widget(resetPasswordRequestForm.email) }}
                                    <div class="invalid-feedback d-block">{{ form_errors(resetPasswordRequestForm.email) }}</div>
                                </div>
                            </div>

                            <hr class="mx-n3">
                            <div class="px-5 py-4">
                                <button type="submit" class="d-grid col-12 mx-auto btn btn-primary btn-lg">Register</button>
                            </div>
                            <span>Return to <a href="{{ path('app_login')}}">sign in</a></span><br><br>
                            
                        {{ form_end(resetPasswordRequestForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
