{% extends 'base.html.twig' %}

{% block title %}Recover password | MODAFA{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/starter-template.css">
{% endblock %}
{% block logo %}<link rel="icon" href="/assets/images/php.png">{% endblock %}

{% block header %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item fw-bolder">
            <a class="nav-link active" aria-current="page" href="{{ path('app_main') }}">Home</a>
        </li>
    </ul>
{% endblock %}


{% block body %}
    <div class="container mt-4" >
        <div class="starter-template">
        
            <div class="container d-flex flex-column">
                <div class="row align-items-center justify-content-center g-0 min-vh-100 shadow">
                    <div class="col-lg-5 col-md-8 py-8 py-xl-0">
                        {% include "partials/_flash.html.twig" %}
                        <!-- Card -->
                        <div class="card">
                            <!-- Card body -->
                            
                            <div class="card-body p-6">
                                <div class="mb-4 text-center">
                                    <a href="../index.html"><img src="/assets/images/logo_modafa_54x54.png" class="mb-4" alt=""></a>
                                    <h1 class="mb-1 fw-bold">Recover Password</h1>
                                    <p>Fill the form to reset your password.</p>
                                </div>
                                
                                <!-- Form -->
                                {{ form_start(resetPasswordForm) }}
                                    <div class="row align-items-center py-3">
                                        <div>
                                            {{ form_row(resetPasswordForm.plainPassword) }}
                                            <div class="invalid-feedback d-block">{{ form_errors(resetPasswordForm.plainPassword) }}</div>
                                        </div>
                                    </div>

                                    <hr class="mx-n3">
                                    <div class="px-5 py-4">
                                        <button type="submit" class="d-grid col-12 mx-auto btn btn-primary btn-lg">Register</button>
                                    </div>

                                {{ form_end(resetPasswordForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
