{% extends 'admin.html.twig' %}

{% block title %}Administration | MODAFA AGAC{% endblock %}

{% block nav %}
    <ul class="nav flex-column text-center">
        <li class="nav-item border-bottom">
            <a class="nav-link active fw-bolder" aria-current="page" href="#">
                <span data-feather="home"></span>
                Pages
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if current_menu == path('home.index') %}active {% endif %}" href="{{ path('home.index') }}">
                <span data-feather="file"></span>
                Acceuil
            </a>
        </li>
       
    </ul>
{% endblock %}

{% block body %}

    <pre>
        {{ dump(nobody) }}
    </pre>

    {# <p class="h2 text-center mt-4">Les stagiaires</p>
    <div class="container">
        <div class="row flex">
            {% for user in users %}
                <div class="col-xl-6 col-sm-12 col-12 mb-4">
                    <div class="card">

                        <div class="view overlay">
                            <img class="card-img-top" src="images/illustration-2.png" alt="Card image cap">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <div class="card-body elegant-color white-text rounded-bottom">
                            <h4 class="card-title text-center">
                                {{ user.getLastName() |capitalize }} 
                                {% if user.FirstName() != null %}
                                    {{ user.getFirstName() |lower }}
                                {% endif %}</h4>
                            <hr class="hr-light">
                            <p class="card-text white-text mb-4" style="text-align: justify;">
                                {% if  user.getOtherInformations().topic != null %}
                                    <strong>Theme </strong> : {{ user.getOtherInformations().topic }}
                                {% endif %}
                            </p>
                            <a href="{{ path('users.edit', {id: user.id, slug: user.getSlug() }) }}" class="white-text d-flex justify-content-end text-decoration-none">
                                <h5>Voir la suite <i class="fas fa-angle-double-right"></i></h5>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div> #}

{% endblock %}