{% extends 'admin.html.twig' %}

{% block title %}{{ user.getLastname() }} | MODAFA AGAC{% endblock %}

{% block nav %}
    <ul class="nav flex-column text-center">
        <li class="nav-item">
            <a class="nav-link active fw-bolder" aria-current="page" href="#">
                <span data-feather="home"></span>
                Pages
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if current_menu == path('app_home') %}active {% endif %}" href="{{ path('app_home') }}">
                <span data-feather="file"></span>
                Acceuil
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if current_menu == path('users.index') %}active {% endif %}" href="{{ path('users.index') }}">
                <span data-feather="shopping-cart"></span>
                Retour
            </a>
        </li>
    </ul>
{% endblock %}

{% block element %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <p class="h2">Details</p>
    </div>
{% endblock %}

{% block body %}
    <div class="container mb-4">
        <div class="row flex">
            
            <div class="col-xl-6 col-sm-12 col-12 mb-4">
                <div class="card">
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/illustration-2.png" alt="Card image cap">
                        
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-sm-12 col-12 mb-4 shadow">
                <div class="card-body elegant-color white-text rounded-bottom">
                    <p class="h1 text-center">Edition d'un(e) stagiare </p>
                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            {{ form_start(form) }}
                                {{ form_widget(form) }}

                            {{ form_end(form) }}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}