{% extends 'base.html.twig' %}

{% block title %}Se connecter | MODAFA AGAC{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/starter-template.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
{% endblock %}

{% block javascripts %}
    <script src="js/bootstrap.min.js"></script>
{% endblock %}

{% block header %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item fw-bolder">
            <a class="nav-link {% if current_menu == path('app_home') %}active {% endif %}" aria-current="page" href="{{ path('app_home') }}">Acceuil</a>
        </li>
        <li class="nav-item fw-bolder">
            <a class="nav-link {% if current_menu == path('authentication.login') %}active {% endif %}" aria-current="page" href="{{ path('authentication.login') }}">Se connecter</a>
        </li>
        <li class="nav-item fw-bolder">
            <a class="nav-link {% if current_menu == path('authentication.register') %}active {% endif %}" aria-current="page" href="{{ path('authentication.register') }}">S'inscrire</a>
        </li>
    </ul>
{% endblock %}
{% block body %}
    <div class="container mt-4" >
        <div class="starter-template">
            
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="images/draw2.svg" class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        <form action="{{ path('users.index') }}">
                            <div class="d-flex flex-row align-items-center my-4 justify-content-center justify-content-lg-start">
                                <p class="lead fw-bolder mb-0 me-3 h1">Se connecter</p>
                            </div>

                            <div class="form-outline mb-4">
                                <input required type="text" id="login" class="form-control form-control-lg" placeholder="Entrer votre nom d'utilisateur" />
                                <label class="form-label" for="login">Nom d'utilisateur</label>
                            </div>

                            <div class="form-outline mb-3">
                                <input required type="password" id="password" class="form-control form-control-lg" placeholder="Enter votre mot de passe" />
                                <label class="form-label" for="password">Mot de passe</label>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="form-check mb-0">
                                    <input class="form-check-input me-2" type="checkbox" id="remember_me" />
                                    <label class="form-check-label" for="remember_me">Se souvenir de moi</label>
                                </div>
                                <a href="" class="text-body">Mot de passe oublié?</a>
                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Se connecter</button>
                                <p class="small fw-bold mt-2 pt-1 mb-0">Vous n'avez pas de compte? <a href="{{ path('authentication.register') }}" class="link-danger">S'inscrire</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {# for any errors
            <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">

                <div class="text-white mb-3 mb-md-0">Copyright © 2020. All rights reserved.</div>
            
                <div>
                    <a href="#!" class="text-white me-4">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#!" class="text-white me-4">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#!" class="text-white me-4">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#!" class="text-white">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div> 
            #}


        </div>
    </div>
{% endblock %}