{{ form_start(form) }}
    <div class="row">
        <div class="col-xl-3 col-md-6 col-sm-12 col-12">{{ form_row(form.firstname) }}</div>
        <div class="col-xl-3 col-md-6 col-sm-12 col-12">{{ form_row(form.lastname) }}</div>
        <div class="col-xl-3 col-md-6 col-sm-12 col-12">{{ form_row(form.sex) }}</div>
        <div class="col-xl-3 col-md-6 col-sm-12 col-12">{{ form_row(form.dateofbirth) }}</div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 col-sm-12 col-12">{{ form_row(form.school) }}</div>
        <div class="col-xl-3 col-md-6 col-sm-12 col-12">{{ form_row(form.level) }}</div>
        <div class="col-xl-3 col-md-6 col-sm-12 col-12">{{ form_row(form.domain) }}</div>
        <div class="col-xl-3 col-md-6 col-sm-12 col-12">{{ form_row(form.post) }}</div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 col-sm-12 col-12">{{ form_row(form.startdate) }}</div>
        <div class="col-xl-3 col-md-6 col-sm-12 col-12">{{ form_row(form.enddate) }}</div>
        <div class="col-xl-3 col-md-6 col-sm-12 col-12">{{ form_row(form.email) }}</div>
        <div class="col-xl-3 col-md-6 col-sm-12 col-12">{{ form_row(form.user) }}</div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-md-6 col-sm-12 col-12">{{ form_row(form.report) }}</div>
        <div class="col-xl-4 col-md-6 col-sm-12 col-12">{{ form_row(form.internshipletter) }}</div>
        <div class="col-xl-4 col-md-6 col-sm-12 col-12">{{ form_row(form.otherfile) }}</div>
    </div>

    <div class="row">
        <div class="col-6">{{ form_row(form.topic ) }}</div>
        <div class="col-6">{{ form_row(form.result) }}</div>
    </div>

    <div>
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
